<!doctype html>
<html ng-app="todoApp">
  <head>
    <script src="js/angular.min.js"></script>
    <script src="js/material.min.js"></script>
    <script src="js/todo.js"></script>
    <link rel="stylesheet" href="css/todo.css">
    <link rel="stylesheet" href="css/material.min.css">
  </head>
  <body>
  <!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Todo</span>
    </div>
    <!-- Tabs -->
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Todo</span>
  </div>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content">
		<div ng-controller="TodoListController as todoList">
      <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
      [ <a href="" ng-click="todoList.archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
      </div>
    </section>
  </main>
</div>  
  </body>
</html>